@model List<TourRegistration>;

@{
    ViewData["Title"] = "Index";
    Layout = "LimitlessLayout";
}
@section Css
{
    <!-- Theme JS files -->
    <script src="~/Limitless/js/plugins/tables/datatables/datatables.min.js"></script>
    <script src="~/Limitless/js/plugins/forms/selects/select2.min.js"></script>
    <script src="~/Limitless/js/demo_pages/datatables_advanced.js"></script>
}
<div class="card">
    <div class="card-header header-elements-inline">
        <h5 class="card-title">List of Registrations for Tour</h5>
        <div class="header-elements">
            <div class="list-icons">
                <a class="list-icons-item" data-action="collapse"></a>
                <a class="list-icons-item" data-action="reload"></a>
                <a class="list-icons-item" data-action="remove"></a>
            </div>
        </div>
    </div>

    <table class="table datatable-show-all">
        <thead>
            <tr>
                <th>Tour Name</th>
                <th>City</th>
                <th>Start from</th>
                <th>Ends at</th>
                <th>Status</th>
                <th class="text-center">Actions</th>
            </tr>
        </thead>
        <tbody>

            @foreach (var registration in Model)
            {
                <tr>
                    <td>@registration.Tour.TourName</td>
                    <td>@registration.Tour.City.Name</td>
                    <td>@registration.Tour.From.ToString("D")</td>
                    <td>@registration.Tour.Till.ToString("D")</td>
                    <td>
                        <span class="badge badge-success">Paid</span>
                    </td>
                    <td class="text-center">
                        <div class="list-icons">
                            <div class="dropdown">
                                <a href="#" class="list-icons-item" data-toggle="dropdown">
                                    <i class="icon-menu9"></i>
                                </a>

                                <div class="dropdown-menu dropdown-menu-right">
                                    <a asp-controller="Registrations" asp-action="RegistrationDetails" asp-route-id="@registration.Id" class="dropdown-item"><i class="icon-pencil"></i>Details</a>
                                    <a asp-controller="Registrations" asp-action="DeleteRegistration" asp-route-id="@registration.Id" class="dropdown-item"><i class="icon-eraser3"></i>Delete</a>
                                </div>
                            </div>
                        </div>
                    </td>
                </tr>
            }
        </tbody>
    </table>
</div>
